.content{
	-position:absolute;
	float:left;
	margin:10px 10px 10px 10px;
	padding: 0 5px 0 0; /*padding on the right is because the column if floating to the right*/
	line-height:1.5em;
	width:790px; /*784px minus padding*/
	-height:300px;
	-float:right;
}

/*table style*/

table {
  border-collapse: collapse;
}

th {
  -color:#D5DDE5;
  -background:#2e96d2;
  border: 1px solid #9ccfec;
  -text: white;
 }

  
tr {
  border-top: 1px solid #C1C3D1;
  color:#666B85;
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
}
 

tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

 
td {
  background:#FFFFFF;
  text-align:center;
  vertical-align:middle;
  border: 1px solid #9ccfec;
}
/*end table style*/

/*style for settings*/
/* ------------- Контейнер с адаптивными блоками------------- */

/* Элементы в виде плиток с содержанием */
  .item img {
    border: 1px solid #2e96d2; /* Рамка вокруг фотографии */
    padding: 1px; /* Расстояние от картинки до рамки */
    background: #2e96d2; /* Цвет фона */
    -margin-right: 5px; /* Отступ справа */
    -margin-bottom: 5px; /* Отступ снизу */
   }
 
 .item {
 float:left;
 width:260px;
 height:300px;
 }
 
 .item p {
 font-size: 20px;
 font-style: italic;
 text-align: center;
 }
 

 
/*end style for settings*/

