<wicket:panel>

	<div class="menu">
		<ul id="side_menu">
			<li><a wicket:id="home-page">HOME</a></li>
			<li><a wicket:id="schedule">SCHEDULE</a></li>
			<li><a wicket:id="search">SEARCH</a></li>
			<li><a wicket:id="my-oders">MY ODERS</a></li>
			<li><a wicket:id="my-profile">MY PROFILE</a></li>
			<li><a wicket:id="feedback">FEEDBACK</a></li>
			<li><a wicket:id="setting">SETTINGS</a></li>
			
			<wicket:enclosure child="login">
			<li><a wicket:id="login">LOGIN</a></li>
				<ul>
					<li><a wicket:id="registration">registration</a></li>
				</ul>
			</wicket:enclosure>	
			
			<li><a wicket:id="logout">LOGOUT</a></li>
			
		</ul>
	</div>


	<!--end signup box-->

</wicket:panel>